@model MvcFormPostClient.Models.ClaimedProjectListModel

@{
    ViewBag.Title = "Create";
}

<h2>CreateProject</h2>


@using (Html.BeginForm()) 
{
    
    
    <div class="form-horizontal">
        <h4>ClaimedProjectListModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Model.projects
                <div>Project name:<br/>@Html.TextBox("ProjectName")
                </div>
                <div>Scope name:<br />@Html.TextArea("ScopeName")
                </div>
                <div>Project author:<br/>@Html.TextArea("ProjectAuthor")
                </div>
                <div>Project data:<br/>@Html.TextArea("ProjectData")
                </div>


                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
