@using Toci.Client.Models
@model AdminModel
    
@{
    ViewBag.Title = "Admin Panel";
}
<h4>@ViewBag.Title</h4>
@*@{
    foreach (var user in @Model.UserDataList)
    {
        <p>@user.id</p>
        <p>@user.email</p>
        foreach (var role in user.UserRoleList)
        {
            <p>@role</p>

        }
        <br />
    }
*@
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var user in Model.UserDataList)
        {
            <tr>
                <td>@user.id</td>
                <td>@user.email</td>
                <td>
                    <table class="table table-bordered ">
                        <tbody>
                        @foreach (var role in user.UserRoleList)
                        {
                            <tr>
                                @*<input type="button"class="btn btn-danger" value="delete" />*@
                                <td>@role @Html.ActionLink("Delete", "RemoveRole", new {roleName=@role, userId=@user.id}, new { @class = "btn btn-danger btn-sm " })</td>

                            </tr>

                        }
                            <tr>
                                <td>
                                    <div style="display: inline-flex">
                                        @*<input type="button" class="btn btn-success" value="add" />
    <input placeholder="add role" class="form-control" style="fit-position: left"/>*@

                                        @*@Html.TextBox("value", null, new {@class="form-control"}) @Html.ActionLink("Add role", "AddRole", new {roleName=value, userId = @user.id }, new { @class = "btn btn-success btn-sm " })
                                    *@
                                        @using (Html.BeginForm("AddRole","Admin", new {  }, FormMethod.Post))
                                        {
                                           
                                            <fieldset>
                                                    @Html.Hidden("userId", user.id)
                                                    @Html.TextBox("roleName")
                                                    <input type="submit" class="btn btn-success" value="Add role"/>
                                               
                                            </fieldset>
                                        }

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    }
    </tbody>
    <!--Add footer for totals-->
</table>





