<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>TOCI</title>
    <meta name="description" content="Toci description">
    <meta name="author" content="Rollthemes.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.png" rel="shortcut icon">
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/21/7/intl/pl_ALL/common.js" style="">  </script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/21/7/intl/pl_ALL/util.js">        </script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/21/7/intl/pl_ALL/stats.js">    </script>
    </head>

    <body class="header-sticky home">
        <!--        Loader
        <div class="loader">
            <span class="loader1 block-loader"></span>
            <span class="loader2 block-loader"></span>
            <span class="loader3 block-loader"></span>
        </div>               -->

        <div class="wrap-slide clearfix">
            <div class="top">
                <div class="content-header">
                    <div class="one-half">
                        <ul class="contact-info inline pull-left">
                            <li class="phone"><a href="#">664-825-878</a></li>
                            <li class="email"><a href="#">bzapart@gmail.com</a></li>
                        </ul>
                    </div><!-- /.one-half -->
                    <div class="one-half">
                        <ul class="contact-info inline pull-right clearfix">
                            <li class="terms"><a href="#">Warunki korzystania</a></li>
                            <li class="contact"><a href="#">Kontakt</a></li>
                            <li class="singin"><a href="#">Zaloguj się</a></li>
                            <li class="search"><a href="#"><span class="icon-zoom-outline"></span></a></li>

                        </ul>
                    </div><!-- /.one-half -->
                </div><!-- /.content-header -->
            </div><!-- /.top -->
        </div>
        <!-- Header -->
        <header id="header" class="header">
            <div class="header-wrap">
                <div class="content-header">
                    <div id="logo" class="logo">
                        <a href="#" rel="home">
                            <img src="~/images/toci.png" alt="image">
                        </a>
                    </div><!-- /.logo -->
                    <div class="wrap-nav">
                        <div class="btn-menu"></div><!-- //mobile menu button -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="#">Strona Główna</a>
                                </li>
                                <li>
                                    <a href="#">Developerzy</a>
                                    <!--<ul class="submenu">
                                        <li><a href="blog_right_sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog_left_sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog_full_width.html">Blog Full Width</a></li>
                                    </ul>-->
                                    <!-- /.submenu -->
                                </li>
                                <li>
                                    <a href="#">Events</a>
                                    <ul class="submenu">
                                        <li><a href="event.html">Events</a></li>
                                        <li><a href="event_page.html">Events Page</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="submenu">
                                        <li><a href="#">404</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Member</a></li>
                                        <li><a href="#">Shortcode</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a href="#">Kontakt</a>
                                </li>
                            </ul><!-- /.menu -->
                        </nav><!-- /.mainnav -->
                    </div><!-- /.wrap-nav -->
                    <div class="wrap-social clearfix">
                        <ul class="besmart-socials">
                            <li><a href="#"><span class="icon-social facebook">F</span></a></li>
                            <li><a href="#"><span class="icon-social twitter">L</span></a></li>
                            <li><a href="#"><span class="icon-social">G</span></a></li>
                            <li><a href="#"><span class="icon-social linkedin">I</span></a></li>
                            <li><a href="#"><span class="icon-social pinterest">:</span></a></li>
                        </ul>
                    </div><!-- /.social-wrap -->
                </div><!-- /.content-header -->
            </div><!-- /.header-wrap -->
        </header><!-- /.header -->

        <div class="top-search">
            <div class="content-header">
                <input type="text" class="ts-search" placeholder="Type Keywords Here...">
                <a href="#"><span class="icon-zoom-outline"></span></a>
            </div><!-- /.content-header -->
        </div><!-- /.top-search -->
        <section id="sec-courses" class="section padding-section courses">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </section>




        <!-- Courses infomation -->
        <section id="sec-info" class="section section-infomation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="infomation text-center">
                            <h3 class="mail">bzapart@gmail.com</h3>
                            <h1 class="phone">8 (800) 695-2684</h1>
                            <h4 class="address">Santa Monica Blvd, Los Angeles, Clifornia 97845, United States</h4>
                        </div><!-- /infomation -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>


        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget-footer widget-recent-posts">
                            <h5 class="widget-title">Recent Posts </h5>
                            <ul class="recent-posts clearfix">
                                <li>
                                    <div class="thumb">
                                        <img src="~/images/blog/rc1.jpg" alt="image">
                                    </div>
                                    <div class="text">
                                        <h6><a href="#">Business Administration - MBA</a></h6>
                                        <p>Mar 23, 2015</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <img src="~/images/blog/rc2.jpg" alt="image">
                                    </div>
                                    <div class="text">
                                        <h6><a href="#">Civil Engineering – MSc </a></h6>
                                        <p>Mar 19, 2015</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <img src="~/images/blog/rc3.jpg" alt="image">
                                    </div>
                                    <div class="text">
                                        <h6><a href="#">Architectural Design - MA </a></h6>
                                        <p>Mar 19, 2015</p>
                                    </div>
                                </li>
                            </ul><!-- /.recent-posts -->
                        </div><!-- /.widget-recent-posts -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="widget widget-footer widget-recent-tweets">
                            <h5 class="widget-title">Recent Tweets </h5>
                            <div class="list-tiwtter" data-number="10" data-username="envato" data-modpath="twitter/index.php"></div>
                        </div><!-- /.widget-recent-tweets -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="widget widget-footer widget-quick-contact">
                            <h5 class="widget-title">Quick Contact </h5>
                            <form class="contact-form" id="contactform" method="post" action="./contact/includes/contact-process.php">
                                <div class="note"></div>
                                <div class="input-wrap name">
                                    <input type="text" value="" tabindex="1" placeholder="Name*" name="name" id="name">
                                </div>
                                <div class="input-wrap email">
                                    <input type="text" value="" tabindex="2" placeholder="E-mail*" name="email" id="email">
                                </div>
                                <div class="textarea-wrap">
                                    <textarea class="" tabindex="4" placeholder="Your message*" name="message" id="message"></textarea>
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn-besmart">Submit</button>
                                </div>
                            </form><!-- /.comment-form -->
                        </div><!-- /.widget-quick-contact -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer>


        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright text-center">
                            <span><a href="#"><img src="~/images/toci.png" alt="image"></a></span>
                            <p>Copyright © 2015 by MW Templates</p>
                        </div>
                    </div><!-- /.span12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>

        <!-- Javascript -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    

</body>
</html>