<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Bezpłatne i płatne kursy programowania w C# lub PHP i innych technologiach</title>
    <meta name="description" content="Toci description">
    <meta name="author" content="Rollthemes.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicon and touch icons  -->
    <link href="icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="icon/favicon.ico" rel="shortcut icon">
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/21/7/intl/pl_ALL/common.js" style="">  </script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/21/7/intl/pl_ALL/util.js">        </script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.gstatic.com/maps-api-v3/api/js/21/7/intl/pl_ALL/stats.js">    </script>
    </head>

    <body class="header-sticky home">
        <!--        Loader
        <div class="loader">
            <span class="loader1 block-loader"></span>
            <span class="loader2 block-loader"></span>
            <span class="loader3 block-loader"></span>
        </div>               -->

        <div class="wrap-slide clearfix">
            <div id="top" class="top" style="margin-top: -50px;">
                <div class="content-header">
                    <div class="one-half">
                        <ul class="contact-info inline pull-left">
                            <li class="phone"><a href="#">570-751-507</a></li>
                            <li class="email"><a href="#">tociszkolenia@gmail.com</a></li>
                        </ul>
                    </div><!-- /.one-half -->
                    <div class="one-half">
                        <ul class="contact-info inline pull-right clearfix">
                            <li class="singin"><a href="#">Logowanie </a></li>
                            <li class="search"><a href="#"><span class="icon-zoom-outline"></span></a></li>

                        </ul>
                    </div><!-- /.one-half -->
                </div><!-- /.content-header -->
            </div><!-- /.top --> 
        </div>
        <!-- Header -->
        <header id="header" class="header">
            <div class="header-wrap">
                <div class="content-header">
                    <div id="logo" class="logo">
                        <a href="#" rel="home">
                            <img id="top-logo" src="~/images/toci-logo.png" alt="image">
                        </a>
                    </div><!-- /.logo -->
                    <div class="wrap-nav">
                        <div class="btn-menu"></div><!-- //mobile menu button -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="#">Strona Główna</a>
                                </li>
                            
                                <li>
                                    <a href="#footer-contact" class="page-scroll">Lorem</a>
                                </li>
                                <li>
                                    <a href="#footer-contact" class="page-scroll">Ipsum</a>
                                </li>
                                <li>
                                    <a href="#footer-contact" class="page-scroll">Sit</a>
                                </li>
                                <li>
                                    <a href="#footer-contact" class="page-scroll">Amet</a>
                                </li>
                                <li>
                                    <a href="#footer-contact" class="page-scroll">Kontakt</a>
                                </li>
                            </ul><!-- /.menu -->
                        </nav><!-- /.mainnav -->
                    </div><!-- /.wrap-nav -->
                    <div class="wrap-social clearfix">
                        <ul class="besmart-socials">
                            <li><a href="https://www.facebook.com/ttooccii" target="_blank"><span class="icon-social facebook">F</span></a></li>
                       
                        </ul>
                    </div><!-- /.social-wrap -->
                </div><!-- /.content-header -->
            </div><!-- /.header-wrap -->
        </header><!-- /.header -->

        <div class="top-search">
            <div class="content-header">
                <input type="text" class="ts-search" placeholder="Wyszukaj...">
                <a href="#"><span class="icon-zoom-outline"></span></a>
            </div><!-- /.content-header -->
        </div><!-- /.top-search -->
        <section id="main-content" class="section padding-section courses">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </section>




        <!-- Courses infomation -->
        <section id="sec-info" class="section section-infomation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="infomation text-center">
                            <h3 class="mail">tociszkolenia@gmail.com</h3>
                            <h1 class="phone">570-751-507</h1>
                            <h4 class="address">Opole, 45-710, ul. Niemodlińska 20/1, Polska</h4>
                        </div><!-- /infomation -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>


        <!-- Footer -->
        <footer id="footer-contact"class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="mapa">
                            
                        </div>

                    </div>
        
                    <div class="col-md-6">
                        <div class="widget widget-footer widget-quick-contact">
                            <h5 class="widget-title">Kontakt</h5>
                            <form class="contact-form" id="contactform" method="post" action="./contact/includes/contact-process.php">
                                <div class="note"></div>
                                <div class="input-wrap name">
                                    <input type="text" value="" tabindex="1" placeholder="Imię" name="name" id="name">
                                </div>
                                <div class="input-wrap email">
                                    <input type="text" value="" tabindex="2" placeholder="E-mail*" name="email" id="email">
                                </div>
                                <div class="textarea-wrap">
                                    <textarea class="" tabindex="4" placeholder="Wiadomość*" name="message" id="message"></textarea>
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-besmart">Wyślij</button>
                                </div>
                            </form><!-- /.comment-form -->
                        </div><!-- /.widget-quick-contact -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer>


        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright text-center">
                            <span><a href="#"><img src="~/images/toci-logo.png" alt="image"></a></span>
                            <p>Copyright © @DateTime.Now.Year TOCI</p>
                        </div>
                    </div><!-- /.span12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>

        <!-- Go Top -->
        <a class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>

        <!-- Javascript -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    

</body>
</html>