@using WebGrease.Css.Extensions
@model Phoenix.Front.Areas.TeamLeasing.Models.TeamSearchingViewModel

@using (Html.BeginForm("GetResults", "TeamSearching", FormMethod.Post))
{

<table class="table table-responsive">
    <tr>
        <th>Oferta leasingu (?)</th>
        <th>Technologie</th>
        <th>Doświadczenie</th>
        <th>Dostępność</th>
        <th>Godziny pracy</th>
        <th>Ilość developerów</th>
    </tr>
    <tr>
        <td>
            <select name="leasing-offer" class="selector-box" style="width: 100%">
                <option>Podstawowa</option>
                <option>Medium (?)</option>
                <option>Promocyjna</option>
                <option>Na wyłączność</option>
            </select>
        </td>
        <td>
            @Html.ListBoxFor(m=>m.Tech, Model.TechList, new {multiple="multiple"})
        </td>
        <td>
            <select name="experience" class="selector-box" style="width: 100%">
                <option>dowolne</option>
                <option>minimum 1 rok</option>
                <option>minimum 2 lata</option>
            </select>
        </td>
        <td>
            <p>
                Od: @Html.TextBoxFor(m => m.AvailableFrom, new { @Value = "Podaj datę rozpoczęcia" })
            </p>
            <p>
                Do: @Html.TextBoxFor(m => m.AvailableTo, new { @Value = "Podaj datę zakończenia" })
            </p>
        </td>
        <td>
            <p>
                Godzina rozpoczęcia: @Html.TextBoxFor(m => m.StartWorkHour, new {@Value = "8", Type = "number", Min = "6", Max = "18"})
            </p>
            <p>
                Godzina zakończenia: @Html.TextBoxFor(m => m.EndWorkHour, new {@Value = "16", Type = "number", Min = "7", Max = "22"})
            </p>
        </td>
        <td>
            @Html.TextBoxFor(m => m.CountOfTeam, new { @Value = "1", Type = "number", Min="1", Max="3" })
        </td>
    </tr>
</table>
<div align="center">
    <button class="btn-primary" name="search-button" type="submit">Szukaj</button>
</div>

}

