<!DOCTYPE html>
<html lang="en">
<head>

	<section id="homepage">
	</section>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Bezpłatne i płatne kursy programowania w C#, Java, Python, PHP, JS i SQL">
		<meta name="author" content="Toci Team, tociszkolenia@gmail.com">
		<title>Bezpłatne i płatne kursy programowania w C#, JavaScript, Java, Python, PHP, SQL i innych technologiach</title>
        <link rel="shortcut icon" href="images/favicon.png">
		<!--loader-->

		<link href="~/css/loader.css" rel="stylesheet">

		<!-- Main Stylesheet -->

		<link href="~/css/faq-style.css" rel="stylesheet">
		<link href="~/css/style.css" rel="stylesheet">
		<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
		<link href="~/css/embed-responsive.css" rel="stylesheet">

		<link href="~/css/owl.carousel.min.css" rel="stylesheet">
		<link href="~/css/owl.theme.default.min.css" rel="stylesheet">


		<link href='http://fonts.googleapis.com/css?family=Exo&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernize")
</head>
<body>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("Scripts", required: false)

	<div id="loader" class="sk-cube-grid">
		<div class="sk-cube sk-cube1"></div>
		<div class="sk-cube sk-cube2"></div>
		<div class="sk-cube sk-cube3"></div>
		<div class="sk-cube sk-cube4"></div>
		<div class="sk-cube sk-cube5"></div>
		<div class="sk-cube sk-cube6"></div>
		<div class="sk-cube sk-cube7"></div>
		<div class="sk-cube sk-cube8"></div>
		<div class="sk-cube sk-cube9"></div>
	</div>

	<script src="~/js/loader-position.js"></script>
	<!--loader-->

	<div id="home"></div>

    <div id="content" style="visibility: hidden;">
        <!-- ========== HEADER START ========== -->

        @Html.Partial("Header")

        <!-- ========== HEADER END ========== -->
        <!-- ========== BANNER START ========== -->
		
		@RenderBody()
        
        <!-- ========== /APPLY ========== -->		
        
        <!-- ========== CONTACT ========== -->

        <section id="contact-section" class="yellowColorTemplate">
            <div class="container">
                <div class="row text-center" data-scroll-reveal>
                    <div class="col-md-12">
                        <h2 class="whiteColor headers">Kontakt</h2>
                    </div>
                </div>

                <div class="row text-center" data-scroll-reveal>
                    <div style=" margin:0 auto; max-width: 70%">
                        <form name="contact-form" id="contact-form" action="./index/contact" method="POST">
                            <div class="row">
                                <bodyContact>
                                    <div class="col-sm-6">

                                        <div class="form-group" id="contact-name-group">
                                            <label for="contact-input-name">Imię i Nazwisko</label>
                                            <input type="text" class="form-control" id="contact-input-name" name="name" placeholder="Wprowadź imię i nazwisko" required pattern="^[A-za-ząćęłńóśźżĄĘŁŃÓŚŹŻ -]{6,}$">
                                        </div>
                                        <div class="form-group" id="contact-email-group">
                                            <label for="contact-input-email">Email</label>
                                            <input type="email" class="form-control" data-validate-other-field-if="CustomEmailPrompterForContactForm" data-other-field-id="contact-input-name" required id="contact-input-email" name="email" placeholder="Wprowadź e-mail">
                                        </div>
                                        <div class="form-group" id="contact-subject-group">
                                            <label for="contact-input-subject">Temat</label>
                                            <input type="text" class="form-control" id="contact-input-subject" name="title" placeholder="Wprowadź temat">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" id="contact-message-group">
                                            <label for="contact-input-message">Wiadomość</label>
                                            <textarea class="form-control" id="contact-input-message" name="message" rows="8"></textarea>
                                        </div>
                                    </div>
                                </bodyContact>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center" data-scroll-reveal>
                                    <br />
                                    <button type="submit" class="btn btn-primary">Wyślij</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </section>

        <!-- ========== /CONTACT ========== -->
        <!-- ========== PREFOOTER START ========== -->

        <div id="prefooter">
            <div class="container">
                <!-- /mapa-->

                <div class="row">

                    <!-- ==== ABOUT START == -->
                    <div class="col-sm-6" data-scroll-reveal>
                        <h3>O nas</h3>
                        <div class="row">
                            <div class="col-sm-5" data-scroll-reveal>
                                <p><img src="~/images/toci-logo.png" alt="" class="img-responsive" /></p>
                            </div>
                            <div class="col-sm-7" data-scroll-reveal>
                                <p>
                                    Darmowe lub płatne szkolenia z c#, java, python, php, javascript, baz danych.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- ==== ABOUT END == -->
                    <!-- ==== CONTACT START == -->
                    <div class="col-sm-6" data-scroll-reveal>

                        <div style="float:right;">

                            <h3>Kontakt</h3>
                            <p>
                                Opole, 45-710<br>
                                ul. Niemodlińska 20/1<br>
                                Poland
                            </p>

                            <p>
                                Tel: <a href="tel:731282311">731-282-311</a><br>
                                Email: <a href="mailto:toci.dev.team@gmail.com">toci.dev.team@gmail.com</a>
                            </p>
                        </div>

                    </div>
                </div>

                <!-- ==== CONTACT END == -->


            </div>

            <div class="container-fluid">

                <!--mapa-->

                <div class="row" data-scroll-reveal>

                    <div class="col-md-12" style="padding:0;">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1264.4217421773012!2d17.903537858316163!3d50.66716649492613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471052fb44b79f03%3A0x92e79974547bd9e0!2sNiemodli%C5%84ska%2020%2C%2046-020%20Opole!5e0!3m2!1spl!2spl!4v1586436428383!5m2!1spl!2spl" width="100%" height="300%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                        <!--    <div id="mapa"> Mapa google- potrzebne konto z kartą płatniczą https://cloud.google.com/maps-platform/
                    <!--<iframe  class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?q=Opole%2C%20Poland&key=AIzaSyCiWbba2SAlu0jxLJDKQ9sbukBxzUfFRtg" allowfullscreen></iframe>-->
                    </div>
                </div>

                <!--			<iframe  src="https://www.google.com/maps/embed/v1/place?q=Opole%2C%20Poland&key=AIzaSyCiWbba2SAlu0jxLJDKQ9sbukBxzUfFRtg" allowfullscreen></iframe>-->

            </div>
        </div>

    </div>
	

<!-- ========== PREFOOTER END ========== -->
		<!-- ========== FOOTER START ========== -->

		<footer>
			<div class="container">
				<div class="row">

					<!-- ==== CREDITS START == -->
					<div class="col-sm-8">
						&copy; 2015 - 2020 TOCI
					</div>
					<!-- ==== CREDITS END == -->
					<!-- ==== SOCIAL ICONS START == -->
					<div class="col-sm-4 text-right">

						<a href="https://www.facebook.com/ttooccii" target="_blank"><i class="fa fa-facebook fa-lg"></i>Fanpage TOCI</a>
					</div>
					<!-- ==== SOCIAL ICONS END == -->

				</div>
			</div>
		</footer>

		<!-- ========== FOOTER END ========== -->
		<!-- Modernizr Plugin -->
		<script src="~/js/modernizr.custom.97074.js"></script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="~/js/jquery-1.11.1.min.js"></script>

		<!-- Bootstrap Plugins -->
		<script src="~/js/bootstrap.min.js"></script>

		<!-- Retina Plugin -->
		<script src="~/js/retina-1.1.0.min.js"></script>

		<!-- Superslides Plugin -->
		<script src="~/js/jquery.easing.1.3.js"></script>
		<script src="~/js/jquery.animate-enhanced.min.js"></script>
		<script src="~/js/jquery.superslides.js"></script>

		<!-- Owl Carousel Plugin -->
		<script src="~/js/owl.carousel.min.js"></script>

		<!-- Parallax ImageScroll Plugin -->
		<script src="~/js/jquery.parallax-1.1.3.js"></script>

		<!-- Fancybox Plugin -->
		<script src="~/js/jquery.fancybox.js"></script>

		<!-- ImagesLoaded Plugin -->
		<script src="~/js/imagesloaded.pkgd.min.js"></script>

		<!-- Masonry Plugin -->
		<script src="~/js/masonry.pkgd.min.js"></script>

		<!-- Progressbar Plugin -->
		<script src="~/js/bootstrap-progressbar.js"></script>

		<!-- Scroll Reveal Plugin -->
		<script src="~/js/scrollReveal.js"></script>


		<!-- jQuery Settings -->
		<script src="~/js/settings.js"></script>

		<!-- Scrolling Nav JavaScript -->
		<script src="~/js/jquery.easing.min.js"></script>
		<script src="~/js/scrolling-nav.js"></script>


		<script src="~/js/faq/main.js"></script>
		<script src="~/js/FormUtils.js"></script>
		<script src="~/js/applyValid.js"></script>
		<script src="~/js/contactValid.js"></script>
		<script src="~/js/utils.js"></script>
		<script src="~/js/UtilsForAttrData.js"></script>

		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

		<script src="~/js/DocumentReady.js"></script>




	</div>
</body>
</html>

